---
---

<div
  class="outro pl-16 text-white h-screen font-bold flex text-5xl flex-col justify-center"
>
  <div>Thanks for visiting</div>
  <span class="text-4xl font-medium mt-2 text-primary-teal"
    >Have a great day</span
  >
  <a
    href="/contact"
    class="text-gray w-fit text-3xl mt-10 transition-all hover:text-white border-r-0 border-b-2 hover:border-primary-teal"
    >Let's work together!</a
  >
</div>
