<footer class="text-xl">
  Thanks for reading my Blog, hope you found it informative, if so please
  consider
  <a href="">subscribing</a>.
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    border-top: 3px solid var(--theme-divider);
  }
</style>
