---
import DemoGraphql from "./graphDatabases/demoGraphql.astro";
import DemoThreejs from "./threejs/demoThreejs.astro";
import DemoFullSatck from "./carousel/carasole.astro";
---

<div class="skills">
  <div
    class="text-5xl mobile:text-4xl mobile:h-[30vh] h-[50vh] flex flex-col justify-center"
  >
    <div class="ml-12 mobile:ml-4 text-primary-teal">
      {"${"}<span class="text-white">What can i do</span>{"}"}
    </div>
  </div>
  <div class="h-[100vh]">
    <DemoThreejs />
  </div>
  <div class="h-[100vh]">
    <DemoGraphql />
  </div>
  <div class="h-[100vh]">
    <DemoFullSatck />
  </div>
</div>
<style is:inline>
  main {
    overflow-anchor: none;
  }
  /* main {
    background-color: #3fd4d4;
  } */
  ::-webkit-scrollbar {
    display: none;
  }
</style>
