---
import RayCaster from "./raycaster.astro";
import Worldviewer from "./worldviewer.astro";
---

<div class="skills">
  <div
    class="text-5xl mobile:text-4xl mobile:h-[30vh] h-[50vh] flex flex-col justify-center"
  >
    <div class="ml-12 mobile:ml-4 text-primary-teal">
      {"${"}<span class="text-white">What can i do</span>{"}"}
    </div>
  </div>
  <div class="h-[150vh] flex flex-col justify-center">
    <div class="threejs h-full w-full">
      <div class="text-3xl absolute to ml-12">
        I can make amazing 3d experience
      </div>
      <div class="demos flex flex-col justify-center h-full w-full relative">
        <RayCaster className="absolute w-full h-full " />
        <Worldviewer
          className="absolute w-full h-full "
          btnClass="cursor-pointer bg-white text-black absolute"
        />
      </div>
    </div>
  </div>
</div>
