---
import { getCollection } from "astro:content";
import { BlogSearchPage } from "../../components/blog/indexPage/search";
const blogPosts = await getCollection("blog", ({ data }) => {
  return !data.draft && data.date < new Date();
});
---

<!DOCTYPE html>
<html class="bg-primary-Dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>subrat.me()/blog</title>
  </head>
  <body>
    <main class="flex text-white overflow-x-hidden w-screen h-[100vh]">
      <BlogSearchPage client:load blogPosts={blogPosts} />
      <!-- {
        blogPosts.map((post) => {
          return (
            <a href={`/blog/${post.slug}`} target="_blank">
              <h1>{post.data.title}</h1>
            </a>
          );
        })
      } -->
    </main>
  </body>
</html>
<script></script>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: Roboto Mono, monospace;
  }
</style>
