---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="404:Page not found">
  <div
    class="content text-8xl font-semibold font-robotoMono h-full w-[75vw] mobile:w-screen text-primary-teal justify-center items-center flex bg-primary-Dark"
  >
    404
  </div>
</Layout>
