---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="404:Page not found">
  <div
    class="content text-8xl font-semibold font-robotoMono h-full w-[75vw] bg-white text-primary-teal justify-center items-center flex"
  >
    404
  </div>
</Layout>
