---
import Hero from "../components/Sidebar/hero.astro";
import Intro from "../components/homePage/intro.astro";
import Outro from "../components/homePage/outro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
  <div class="text-white text-3xl">About me</div>
</Layout>
