---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
  <div class="">
    <div
      class="title font-bold text-9xl mobile:text-5xl top-0 mt-20 ml-10 left-0"
    >
      About<span class="text-primary-teal">(</span>me<span
        class="text-primary-teal">)</span
      >
    </div>

    <div class="mt-[20vh] ml-5 h-fit">
      <div
        class="profile info h-10 w-full flex justify-center -ml-5 items-center"
      >
        <div class="w-[90%] h-fit flex items-center">
          <a href="https://github.com/SubratKumarGupta" class="mr-6">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              role="img"
              aria-labelledby="GithubIcoTitle"
              class="ico h-8 w-8"
              ><title id="GithubIcoTitle">GitHub logo</title><path
                stroke="none"
                fill="#3fd4d4"
                d="M8 0C3.6 0 0 3.6 0 8c0 3.5 2.3 6.5 5.5 7.6.4.1.5-.2.5-.4v-1.4c-2.2.5-2.7-1.1-2.7-1.1-.4-.9-.9-1.2-.9-1.2-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.2 1.9.9 2.3.7.1-.5.3-.9.5-1.1-1.8-.2-3.6-.9-3.6-4 0-.9.3-1.6.8-2.1-.1-.2-.4-1 .1-2.1 0 0 .7-.2 2.2.8.6 0 1.3-.1 2-.1s1.4.1 2 .3c1.5-1 2.2-.8 2.2-.8.4 1.1.2 1.9.1 2.1.5.6.8 1.3.8 2.1 0 3.1-1.9 3.7-3.7 3.9.3.3.6.8.6 1.5v2.2c0 .2.1.5.6.4C13.7 14.5 16 11.5 16 8c0-4.4-3.6-8-8-8z"
              ></path></svg
            ></a
          >
          <span class="whitespace-nowrap text-2xl">{"Download my"}</span>
          <a href="/CV.pdf" download>
            <div
              class="cv ml-3 flex w-fit justify-center items-center px-3 py-1 transition-all duration-700 hover:bg-teal-200 bg-primary-teal rounded-full"
            >
              <span class="text-black pr-2">CV</span>
              <i class="h-4 w-4"
                ><img src="/download-logo.png" height="100%" width="100%" /></i
              >
            </div>
          </a>
        </div>
      </div>
      <div
        class="discriptions desktop:ml-4 mt-5 destop:w-[70%] mobile:w-[95%] text-primary-teal text-lg"
      >
        I am a Full-Stack Developer based out of India with a keen interest in
        various domains such as graphic programming, game development, system
        design, and web development.
      </div>
      <div class="content desktop:ml-4 pb-20">
        <div class="skils mt-14">
          <h3 class="text-2xl font-medium">My skills</h3>
          <ul class="flex mobile:flex-col mt-4 text-xl">
            <li class="skill-li mr-10 mobile:mb-3 mobile: w-1/2">
              Figma, Illustator <br />
            </li>
            <li class="skill-li mr-10 mobile:mb-3 mobile: w-1/2">
              Next, GSAP, Three.js, Astro <br />
            </li>
            <li class="skill-li mr-10 mobile:mb-3 mobile: w-1/2">
              Typescript, Tailwind, SVG, CSS <br />
            </li>
            <li class="skill-li mr-10 mobile:mb-3 mobile: w-1/2">
              Express, Mongodb, Dgraph, GraphQL, Docker, AWS <br />
            </li>
          </ul>
        </div>
        <div class="project mt-14">
          <h3 class="text-2xl font-medium">Projects</h3>
          <ul class="flex mobile:flex-col desktop:flex-wrap mt-4 text-xl">
            <li
              class="mr-10 mobile:mb-6 mobile:mt-3 desktop:mt-7 desktop:w-[80%]"
            >
              <a class="mb-2" href="https://virtuealize.com"
                ><span class="text-primary-teal">Virtuealize</span></a
              >
              <br />
              <span class="text-gray text-lg whitespace-nowrap"
                ><span class="text-white">@</span> 2021 nov - 2022 may</span
              >
              <br />
              <br />
              I established virtuealize.com codebase at ICiTified and developed a
              custom level editor using Three.js, GraphQL, MongoDB, Express, and
              Apollo. With custom auth.
              <br />
            </li>
            <li
              class="mr-10 mobile:mb-6 mobile:mt-3 desktop:mt-7 desktop:w-[80%]"
            >
              <a href="https://github.com/SubratKumarGupta/3by3"
                ><span class="text-primary-teal">3by3</span></a
              >
              <br />
              <span class="text-gray text-lg whitespace-nowrap"
                ><span class="text-white">@</span> 2022 june - 2022 dec</span
              >
              <br />
              <br />
              I built a social media platform dedicated to sharing anime 3x3 grids,
              utilizing a highly scalable data layer powered by a self-managed and
              self-hosted Dgraph database and the T3 stack.<br />
            </li>
            <li
              class="mr-10 mobile:mb-6 mobile:mt-3 desktop:mt-7 desktop:w-[80%]"
            >
              <a href=""><span class="text-primary-teal">My Blog</span></a>
              <br />
              <span class="text-gray text-lg whitespace-nowrap"
                ><span class="text-white">@</span> 2022 dec - 2023 may</span
              >
              <br />
              <br />
              I created a personal blog using Astro as a static site generator (SSG)
              that achieved a perfect Lighthouse score of 100 <br />
            </li>
            <li
              class="mr-3 mobile:mr-10 mobile:mt-3 desktop:mt-7 mobile:mb-6 desktop:w-[80%]"
            >
              <span class="text-primary-teal">Dgraph init</span>
              <br />
              <span class="text-gray text-lg"
                ><span class="text-white">@</span> ongoing</span
              >
              <br />
              <br />
              Develop a CLI tool that simplifies the process of self-hosting and
              managing a Dgraph instance, using simplified and intuitive commands.<br
              />
            </li>
          </ul>
        </div>
        <div class="mt-14 mobile:mt-7 flex flex-row mobile:flex-col">
          <div class="languages mobile:mt-14 desktop:w-1/2">
            <h3 class="text-2xl font-medium flex flex-col">Languages</h3>

            <div class="mt-4">
              <span class="text-gray text-xl">// Flunt</span>
            </div>
            <div class="text-gray text-lg flex flex-col mt-2">
              <div>
                <span class="whitespace-nowrap"
                  ><span class="text-primary-teal">en-in</span> Engish</span
                >
              </div>
              <div>
                <span class="whitespace-nowrap"
                  ><span class="text-primary-teal">hi-in</span> Hindi</span
                >
              </div>
            </div>
          </div>
          <div class="learning mobile:mt-14 desktop:w-1/2">
            <h3 class="text-2xl font-medium flex flex-col">Learning</h3>
            <br />
            <span class="text-xl text-gray">
              Rust, WebGl, <br /> Vulkan, C++</span
            >
          </div>
          <div class="intrests mobile:mt-14 desktop:w-1/2">
            <h3 class="text-2xl font-medium flex flex-col">Interests</h3>
            <br />
            <span class="text-xl text-gray">
              Misic, Anime, Philosophy, Mechanical and Electrical engineering,
              Physics
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  li {
    color: rgb(75 84 97);
  }
  .skill-li {
  }
</style>
