---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact me">
  <div
    class="desktop:w-[75vw] mobile:w-screen flex justify-center items-center"
  >
    <div class="w-full mx-auto p-5">
      <div class="text-center mb-16">
        <p class="mt-4 text-sm leading-7 text-gray-500 font-regular uppercase">
          Contact
        </p>
        <h3
          class="text-3xl sm:text-4xl leading-normal font-bold tracking-tight text-gray-900"
        >
          Get In <span class="text-primary-teal">Touch</span>
        </h3>
      </div>

      <form
        action="https://formsubmit.co/contact@subrat.me"
        method="POST"
        class="w-full"
      >
        <input
          type="hidden"
          name="_subject"
          value="New enquery from portfolio!"
        />
        <input type="hidden" name="_captcha" value="false" />
        <input type="hidden" name="_template" value="box" />
        <input
          type="hidden"
          name="_next"
          value="https://subrat-me.pages.dev/thanks-for-contacting"
        />
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="mobile:w-full w-1/2 px-3 mobile:mb-6 mb-0">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
              for="grid-name"
            >
              Name
            </label>
            <input
              class="appearance-none block w-full text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none bg-primary-Dark"
              id="grid-name"
              type="text"
              name="name"
              placeholder="Your Name"
              required
            />
          </div>
          <div class="mobile:w-full w-1/2 px-3">
            <label
              class="block uppercase tracking-wide text-gray-700 font-semibold mb-2"
              for="grid-phone"
            >
              Contact Number
            </label>
            <input
              class="appearance-none block w-full border rounded py-3 px-4 leading-tight focus:outline-none bg-primary-Dark focus:border-gray-500"
              id="grid-phone"
              type="tel"
              name="phone number"
              minlength="5"
              maxlength="15"
              pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d| 
              2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]| 
              4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$"
              oninput="this.setCustomValidity((this.value.replace(/[^0-9+]/g, '').length < 5 || this.value.replace(/[^0-9+]/g, '').length > 15) ? 'Phone number must be between 5 and 15 digits.' : ''); this.value = this.value.replace(/[^0-9+]/g, '');"
              placeholder="Phone Number (Optional)"
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
              for="grid-password"
            >
              Email Address
            </label>
            <input
              class="appearance-none block w-full border rounded py-3 px-4 mb-3 leading-tight focus:outline-none bg-primary-Dark focus:border-gray-500"
              id="grid-email"
              type="email"
              name="email"
              placeholder="exampel@gmail.com"
              required
            />
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-2"
              for="grid-password"
            >
              Your Message
            </label>
            <textarea
              required
              rows="10"
              name="massage"
              class="appearance-none block w-full border rounded py-3 px-4 mb-3 leading-tight focus:outline-none bg-primary-Dark focus:border-gray-500"
            >
            </textarea>
          </div>
          <div class="flex justify-between w-full px-3">
            <button
              class="shadow bg-primary-teal hover:bg-teal-300 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded"
              type="submit"
            >
              Send Message
            </button>
          </div>
        </div>
      </form>
      <ul class="social-media-list">
        <li class="">
          <a
            href="https://github.com/SubratKumarGupta"
            target="_blank"
            class="contact-icon"
          >
            <i class="fa fa-github" aria-hidden="true">
              <img src="/github-logo.png" alt="github" />
            </i></a
          >
        </li>
        <li class="">
          <a
            href="https://api.whatsapp.com/send?phone=9119444259"
            target="_blank"
            class="contact-icon"
          >
            <i class="fa fa-whatsapp" aria-hidden="true">
              <img src="/whatsapp-logo.png" alt="whatsapp" />
            </i></a
          >
        </li>
        <li class="">
          <a
            href="https://twitter.com/subrat_gupta_/following"
            target="_blank"
            class="contact-icon"
          >
            <i class="fa fa-twitter" aria-hidden="true">
              <img src="/twitter-logo.png" alt="twitter" />
            </i></a
          >
        </li>
        <li class="">
          <a href="https://instagram.com/" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true">
              <img src="/instagram-logo.png" alt="instagram" />
            </i></a
          >
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  label {
    color: #8f8f8f;
  }
  input,
  textarea {
    color: #fff;
    border-color: #3fd4d4;
  }
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .social-media-list li {
    background-color: #8f8f8f;
  }

  .social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #3fd4d4;
    transition: all 0.2s ease-in-out;
  }

  .social-media-list li:hover {
    background-color: #3fd4d4;
  }

  .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  }

  @media (orientation: portrait) {
    .social-media-list li {
      background-color: #3fd4d4;
    }
  }
</style>
