---
import Hero from "../components/Sidebar/hero.astro";
import Intro from "../components/homePage/intro.astro";
import Outro from "../components/homePage/outro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex font-robotoMono">
    <Hero body="" title="" />
    <!-- margin-left(ml) should be same width as Hreo/sidebar width -->
    <div class="content ml-[25%] p-4">
      <Intro />
      <Outro />
    </div>
  </main>
</Layout>
