---
import Hero from "../components/Sidebar/hero.astro";
import Intro from "../components/homePage/intro.astro";
import Outro from "../components/homePage/outro.astro";
import Skills from "../components/homePage/skills/skills.astro";
import Title from "../components/Sidebar/title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Subrat.me">
  <div class="hidden mobile:block">
    <Title />
    <Hero />
  </div>
  <Intro />
  <Skills />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deleniti
    doloribus voluptatum obcaecati doloremque est quis rerum aliquid id dolores
    harum quo, culpa porro, reprehenderit dolor quam quibusdam neque quae?
    Accusamus tempore recusandae sapiente quo asperiores, error iste! Similique,
    natus animi! Vitae odio magnam sequi! Architecto corrupti aliquam atque
    officia culpa nostrum at debitis, nemo sed laudantium vel aut neque?
    Dolorem, repellat vel commodi repellendus id fuga nostrum sint impedit!
    Consectetur veniam maiores, explicabo quae numquam dignissimos laborum
    adipisci sit, vel possimus unde magni aperiam! Ea, explicabo consequatur.
    Perspiciatis, repellat? Error atque, ullam aperiam delectus quidem a quasi
    fuga obcaecati illo, porro iure. Magni, ratione ipsa. Sit recusandae nulla
    incidunt nemo porro? Aperiam quos officiis aspernatur id ipsum quis
    necessitatibus! Dolores vero autem ut, perferendis odit incidunt, non sunt
    ea voluptatum suscipit minima eveniet! Iste illum voluptatem commodi
    cupiditate aliquid, dolorum deserunt voluptates vero odit quasi minima ut
    omnis esse. Quis ut beatae minus praesentium est excepturi distinctio
    suscipit non fugit magni? Obcaecati saepe ipsa aut officia culpa,
    consectetur eveniet rerum dolorem veniam, in voluptas, nulla quisquam labore
    itaque doloremque? Porro sit itaque recusandae doloremque asperiores
    corrupti rem at labore beatae, hic magnam quae debitis quos repudiandae
    harum illo iste est vel fuga nemo incidunt ex molestias. Quia, cupiditate
    facere. Nisi quam architecto numquam iste, voluptates magni perferendis
    minima placeat. Laboriosam, dolores sit repellat eum fugiat officiis placeat
    temporibus. Nostrum reprehenderit molestiae est, fugiat quod possimus
    accusamus doloribus provident nesciunt. Quam deleniti voluptatum hic impedit
    repellendus nulla magni tempore possimus iure. Blanditiis quis quod alias
    laborum voluptatem aspernatur minima, itaque culpa aut tenetur magni eum
    vero repellat officiis dicta doloribus. Officiis laboriosam quidem
    inventore, eligendi velit mollitia. Ex blanditiis dicta nam, aperiam
    suscipit soluta assumenda at qui aut, eos sapiente pariatur exercitationem
    facere doloribus distinctio molestias id, deleniti repellat ipsa!
    Dignissimos et beatae quam quos quidem similique doloremque atque inventore
    placeat voluptas eius animi excepturi at doloribus, asperiores cupiditate
    tenetur ex, natus ea odit optio omnis facere odio! Reiciendis, obcaecati.
    Vero sed ipsa rerum omnis illum recusandae voluptate harum ullam alias
    consequatur, sapiente laborum nihil perspiciatis voluptates rem impedit eum.
    Nam, explicabo accusamus rerum repellat deserunt accusantium. Enim,
    architecto sed. Quidem accusantium, aliquam sint veniam incidunt ad
    cupiditate natus harum tempora magni maxime dolores quae deserunt cum
    asperiores amet aliquid repudiandae similique numquam ut voluptate officiis.
    Esse suscipit ipsum quis. Architecto itaque adipisci eius alias reiciendis
    voluptatibus, sit sunt repellendus, illo earum amet consectetur et
    dignissimos accusamus aliquid iusto explicabo, ex odio vel voluptatem
    assumenda perferendis officiis! Dolorum, aut accusamus? Accusamus delectus,
    dolorem modi libero deserunt quisquam molestias, est, distinctio officia
    commodi quas laboriosam architecto facilis ab explicabo quibusdam
    reiciendis. Voluptates nesciunt omnis necessitatibus mollitia eum labore
    autem accusantium blanditiis. Odit assumenda quam nihil blanditiis sapiente
    maxime laborum, ex numquam animi repellendus itaque nostrum molestiae vitae,
    asperiores suscipit recusandae. Explicabo est in soluta aperiam perferendis
    maiores quis tempore delectus harum! Perferendis placeat iure doloremque
    distinctio dicta iste excepturi eius accusamus voluptatum minus fugit
    deserunt, praesentium accusantium officia vitae et omnis doloribus
    voluptates optio. Cum minima dignissimos saepe impedit eum. Neque. Corporis
    optio dolorem repudiandae enim modi aspernatur harum sit veritatis, ipsum
    ducimus facere beatae sunt asperiores soluta molestiae possimus. Velit odio
    inventore a dolore quae, commodi placeat laborum molestiae accusantium.
    Magnam illo expedita, iure nesciunt quae veniam quis numquam! Blanditiis
    illum non fuga a provident rerum omnis molestias nisi! Ipsa incidunt non aut
    earum ea quae quibusdam vero eligendi eum! Nemo autem odit ea voluptate,
    doloribus dignissimos qui neque totam quidem non veritatis ratione quaerat.
    Eaque necessitatibus aspernatur maiores vel quisquam a at! Dolorum
    voluptatum, neque quia totam ratione asperiores! Quaerat ea eum in ullam
    repudiandae odit perspiciatis commodi iure laborum minus, saepe impedit
    explicabo id dignissimos quidem dolores hic quia illum. Laborum, sunt cum
    sed odio aliquid minima voluptas. Magnam unde similique numquam dolore iure
    earum, tenetur dolores obcaecati laboriosam aliquam tempora, quod
    consequatur ipsam optio beatae praesentium assumenda doloremque maiores ea
    modi officia. Recusandae nam fuga nemo doloribus? Nesciunt nam aliquam
    facilis doloremque iusto atque tempora recusandae, eaque optio incidunt,
    aperiam quia numquam adipisci molestiae culpa ratione. Provident
    reprehenderit ullam veritatis molestiae reiciendis fuga autem, suscipit
    minima repellendus. Esse suscipit voluptatibus, a dolores fuga velit
    repellendus autem architecto impedit animi officia eveniet enim, amet
    accusamus adipisci dolorem vel mollitia fugit ipsa. Sapiente hic id odit
    recusandae animi quis. Exercitationem sunt odit corporis reiciendis
    consequatur deserunt officiis sint veniam dicta labore, harum autem ipsa
    ratione dolores iusto asperiores. Expedita reiciendis laudantium
    consequuntur iusto placeat. Commodi obcaecati ad distinctio veniam? Aliquam
    est libero nam qui officia quae quod esse quaerat reiciendis. Quam soluta
    eius cupiditate sapiente ducimus? Iure laudantium, aperiam molestias
    adipisci placeat inventore deserunt optio veniam aliquid accusantium
    doloribus. Quas magni repellat delectus quisquam facilis soluta veritatis
    eaque beatae animi qui! Nesciunt atque, accusamus consequatur et totam
    commodi! Ullam reiciendis sapiente id natus officia reprehenderit qui, sint
    perferendis consequuntur? Perferendis facere molestias quaerat alias minima
    quibusdam quisquam, sed adipisci rerum atque maxime, deserunt totam nesciunt
    quas architecto autem magni reprehenderit! Illum incidunt sunt totam neque
    ratione fugiat reiciendis eveniet! Cumque distinctio deserunt qui natus
    neque, dolore est, ratione perferendis provident quam labore magnam ex sint
    error eveniet veritatis aperiam ipsam consectetur a! A eaque nisi,
    blanditiis numquam impedit necessitatibus! Tempora eligendi, nesciunt facere
    iusto mollitia nihil odit quas animi ducimus ab consequatur nobis neque.
    Provident quisquam eligendi tenetur repellat doloribus! Nesciunt molestias
    reiciendis quisquam tempora, ea hic dolorum quas? Autem dolore voluptatibus
    et aut dicta optio natus vero quam similique voluptate id sapiente accusamus
    impedit provident ratione aspernatur facere magnam est voluptatum placeat,
    vitae eaque consequuntur commodi. Expedita, nisi? Beatae quis ducimus
    assumenda dolore sapiente perferendis, error explicabo hic sed quasi aliquam
    doloremque incidunt praesentium nihil, id veniam voluptatem similique, alias
    consequuntur mollitia in libero cumque distinctio! In, consequuntur. Ducimus
    iure blanditiis voluptatum consequatur autem, asperiores optio doloribus
    sapiente necessitatibus, aperiam minima culpa illo magni amet suscipit
    laudantium quam eius odit alias atque corrupti fuga possimus neque maiores.
    Veritatis? Voluptatibus nostrum deleniti ratione, sequi enim tempore nemo
    quos quam dicta. Enim quos, ipsam laborum rem, nulla praesentium hic
    voluptas pariatur nemo dolores ipsa error veritatis possimus, quidem maxime
    vel! Delectus nam eveniet pariatur blanditiis nulla, quisquam minima optio
    possimus ratione neque earum eligendi quidem labore alias. Eveniet
    architecto iusto assumenda delectus vel aut placeat quas aliquid quibusdam,
    laboriosam quos. Autem pariatur nostrum rerum illum quasi commodi nemo a
    consectetur deserunt nam accusantium ut doloribus aspernatur sunt quas, enim
    ad fuga consequuntur explicabo laborum reiciendis dolorem! Praesentium illo
    amet rem? Ullam placeat, excepturi maxime tempore molestias atque odio
    molestiae magni assumenda deserunt quisquam eveniet doloribus, voluptatibus
    voluptas similique veniam minus officiis iusto, in quia. Aspernatur quasi
    officia dolorum praesentium nulla. Soluta consectetur earum facere. Nulla
    sint dolor consequatur sapiente laborum reiciendis, natus quis voluptate
    debitis ut tenetur doloremque libero ipsa sit ad dolore animi dolores
    assumenda! Facere sed at modi? Ab suscipit minus aspernatur laborum, eaque
    dolore illum quis corporis commodi asperiores nemo, natus accusamus quidem
    necessitatibus dicta iste impedit nisi ratione dolorum. Neque accusantium,
    dignissimos cumque repellendus aliquid quod. Quod cupiditate dolorem nulla?
    Quasi, optio! Modi dolores nobis reiciendis! Ducimus consectetur labore
    magni ipsa, quidem laudantium quibusdam nulla, molestiae cumque blanditiis
    maxime explicabo vel, harum commodi enim dicta. Perspiciatis! Eligendi odio
    velit perspiciatis laborum voluptates, itaque ea deserunt. Distinctio nam,
    impedit esse rem placeat, similique inventore modi repudiandae debitis qui
    ad? Doloremque magni dignissimos natus in minima nostrum nobis? Deleniti
    illum ducimus magnam quod soluta rerum enim modi harum commodi vitae?
    Recusandae dicta aliquid soluta qui velit nam. Odio, ipsam rem natus tenetur
    assumenda enim aliquam nihil voluptates quisquam. Iste rem beatae blanditiis
    eveniet totam alias aliquam cumque, ullam odio, eaque labore sint corporis
    dolorem itaque reprehenderit nobis velit! Accusantium aspernatur tenetur
    consectetur, numquam a natus animi dolore sed? Voluptates consequatur
    repellendus doloremque illo eveniet velit nam a ab quas, et sed natus, quasi
    maiores distinctio quisquam illum iure in! Nam voluptatibus odio quidem
    ipsum repudiandae modi, minima inventore. Tenetur, aut placeat. Provident,
    necessitatibus, quo quisquam cupiditate nobis laudantium sed, odio magni
    laboriosam autem sint? Dolore eaque quibusdam eveniet recusandae minus
    inventore possimus, expedita, aliquam magni reiciendis quidem sint? Ab
    quisquam repellat cumque tempore nisi, esse soluta delectus dolorem vero
    quae eaque perspiciatis ea aut provident, magni architecto nostrum sunt
    ducimus inventore expedita mollitia vitae maiores, molestiae dignissimos?
    Accusantium. Iste commodi minima quidem impedit, quasi nemo delectus
    officia, cum nostrum exercitationem modi enim quam ullam porro omnis a dolor
    consequuntur eaque at laboriosam veritatis voluptatem optio. Atque,
    cupiditate sunt? Voluptate, laborum debitis ad minus nesciunt neque magni
    dolorum temporibus molestias. Voluptate minus similique cumque dicta a
    exercitationem itaque culpa labore sequi deserunt voluptates qui quisquam
    nisi beatae, voluptatum corrupti! Ea earum commodi fuga, culpa libero nemo
    aut iure dignissimos in, repudiandae aliquam non rerum eveniet adipisci ex
    nulla deleniti beatae neque. Cupiditate sit dolorem nobis hic sunt ullam ab.
    Debitis dolore minus rem consectetur amet distinctio voluptatum eligendi
    asperiores ullam. Eveniet accusamus atque reprehenderit quaerat modi et
    dolore temporibus unde, quisquam ut laboriosam, sit non, tenetur iusto culpa
    aliquam?
  </p>
  <Outro />
</Layout>
