---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thanks">
  <div class="relative flex flex-col justify-center h-full ml-5">
    <div class="massage">
      <h1 class="text-5xl font-semibold mb-3">
        <span class="text-primary-teal">\</span> Thanks for contacting me
      </h1>
      <h2 class="text-3xl text-gray font-semibold">
        I received your message and I will attend to it as soon as possible.
      </h2>
    </div>
    <div
      class="text-3xl font-semibold absolute bottom-0 left-0 z-10 mb-20 ml-3"
    >
      <a href="/">
        go<span
          class="text-primary-teal hover:text-[#00c3ff] transition-colors duration-100"
          >.back()</span
        >
      </a>
    </div>
  </div>
</Layout>
