---
const pages = ["home", "about", "blog", "contact"];
---

<div class="text-2xl">
  {
    pages.map((pageName) => (
      <div
        data-value-hover={"click(" + pageName + ")"}
        date-value={pageName}
        class=" mt-4 ml-3 text-white group cursor-pointer"
      >
        <div class="flex w-fit">
          <span class={`prefix text-primary-teal group-hover:hidden`}>--</span>
          <span
            class={`hov-prefix  w-0 opacity-0  text-primary-teal group-hover:animate-showClick `}
          >
            {"click("}
          </span>
          <span class="navLink">{pageName}</span>
          <span
            class={`hov-suffix w-0 opacity-0   text-primary-teal group-hover:animate-showClick `}
          >
            {")"}
          </span>
        </div>
      </div>
    ))
  }
</div>
