---
---

<div class="intro font-medium text-4xl ml-4 mt-20">
  <div class="flex-col flex">
    Hello, it's
    <span>SubratGupta</span>
  </div>

  <div class="text-2xl mt-2 text-gray">Full-Stack Devloper</div>
</div>

<div class="patron px-4 mt-3 mx-auto w-full">
  <a href="https://cal.com/subrat">
    <button
      class="btn w-full border-2 border-primary-teal transition-all duration-150 hover:bg-costom-teal-800 text-white px-4 py-2"
      >Book a call</button
    >
  </a>
</div>
