---
import ProjectCard from "./projectCard.astro";
---

<div class="text-5xl mobile:text-4xl w-full flex flex-col justify-center">
  <div
    id="projects"
    class="ml-4 projects-title text-primary-teal desktop:whitespace-nowrap mobile:text-[7vw]"
  >
    {"${"}<span class="text-white">What have i done</span>{"}"}
  </div>
  <style>
    .project-title {
      font-size: clamp(16px, 4vw, 22px);
    }
  </style>
  <div class="content mt-[20vh]">
    <div class="flex w-full flex-wrap">
      <ProjectCard>HI</ProjectCard>
      <ProjectCard>HI</ProjectCard>
      <ProjectCard>HI</ProjectCard>
      <ProjectCard>HI</ProjectCard>
    </div>
  </div>
</div>
