---
import ProjectCard from "./projectCard.astro";
---

<div
  class="text-5xl mobile:text-4xl h-[50vh] mt-[70vh] flex flex-col justify-center"
>
  <div class="ml-12 mobile:ml-4 text-primary-teal whitespace-nowrap">
    {"${"}<span class="text-white">What have i done</span>{"}"}
  </div>
  <div class="content mt-[30vh]">
    <div class="flex w-full flex-wrap">
      <ProjectCard>HI</ProjectCard>
      <ProjectCard>HI</ProjectCard>
      <ProjectCard>HI</ProjectCard>
      <ProjectCard>HI</ProjectCard>
    </div>
  </div>
</div>
