---
import SkipToContent from "./SkipToContent.astro";
import TopNav from "./topNav.astro";
// import SidebarToggle from "./SidebarToggle";
---

<div class="sticky h-fit top-0 z-50 bg-primary-Dark">
  <header class="border-b border-teal-400">
    <SkipToContent />
    <nav class="nav-wrapper" title="Top Navigation">
      <div class="group logo flex items-center">
        <a href="/" class="titlehead hover:no-underline">
          <div
            class="name font-medium text-4xl text-white group-hover:text-white"
          >
            Subrat<span class="text-primary-teal">.me()</span>
          </div>
        </a>
      </div>
      <div class="text-2xl">
        <div class="mobile:hidden">
          <TopNav />
        </div>
        <div class="desktop:hidden">
          <div class="flex flex-col justify-center group" id="hamburger">
            <div
              class="h-1 w-8 bg-gray-500 rounded-full bg-gray group-hover:bg-slate-400"
            >
            </div>
            <div
              class="h-1 w-6 my-1 bg-gray-500 rounded-full bg-gray group-hover:bg-slate-400"
            >
            </div>
            <div
              class="h-1 w-10 bg-gray-500 rounded-full bg-gray group-hover:bg-slate-400"
            >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div
    id="mobile-menu"
    class="desktop:hidden hidden text-xl flex-col"
    style="align-items: flex-start;"
  >
    <TopNav />
  </div>
</div>

<style>
  #mobile-menu.active {
    display: flex;
  }
  @keyframes cross {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }
  @keyframes dropdown {
    0% {
      height: 0;
    }
    100% {
      height: auto;
    }
  }

  #hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(-3px, -3px);
    width: 2rem;
    background-color: var(--theme-accent);
    animation: cross 1s forwards;
  }
  #hamburger.active div:nth-child(2) {
    opacity: 0;
    width: 2rem;
  }
  #hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-3px, -3px);
    width: 2rem;
    animation: cross 1s forwards;
  }
</style>
<script>
  const mobileMenu = document.getElementById("mobile-menu") as HTMLDivElement;
  const hamburger = document.getElementById("hamburger") as HTMLDivElement;
  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    mobileMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("flex");
    // mobileMenu.= "felx";
  });
</script>

<style>
  /* .titlehead {
    all: initial;
  } */

  header {
    z-index: 11;
    height: var(--theme-navbar-height);
    width: 100%;
    background-color: var(--theme-navbar-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .logo {
    flex: 1;
    display: flex;
    overflow: hidden;
    width: 30px;
    font-size: 2rem;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 1;
    color: hsla(var(--color-base-white), 100%, 1);
    gap: 0.25em;
    z-index: -1;
  }

  .logo a {
    display: flex;
    padding: 0.5em 0.25em;
    margin: -0.5em -0.25em;
    text-decoration: none;
    font-weight: bold;
  }

  .logo a {
    transition: color 100ms ease-out;
    color: var(--theme-text);
  }

  .logo a:hover,
  .logo a:focus {
    color: var(--theme-text-accent);
  }

  .logo h1 {
    display: none;
    font: inherit;
    color: inherit;
    margin: 0;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    width: 100%;
    max-width: 82em;
    padding: 0 1rem;
  }

  @media (min-width: 50em) {
    header {
      position: static;
      padding: 2rem 0rem;
    }

    .logo {
      width: auto;
      margin: 0;
      z-index: 0;
    }

    .logo h1 {
      display: initial;
    }

    .menu-toggle {
      display: none;
    }
  }

  /** Style Algolia */
  :root {
    --docsearch-primary-color: var(--theme-accent);
    --docsearch-logo-color: var(--theme-text);
  }

  .search-item {
    display: none;
    position: relative;
    z-index: 10;
    flex-grow: 1;
    padding-right: 0.7rem;
    display: flex;
    max-width: 200px;
  }

  @media (min-width: 50em) {
    .search-item {
      max-width: 400px;
    }
  }
</style>

<style is:global>
  .search-item > * {
    flex-grow: 1;
  }
</style>
