---
const className =
  "text-slate-400 ml-2 w-fit hover:decoration-transparent transition-all hover:text-primary-teal border-r-0 hover:border-b-2 hover:border-gray mobile:border-primary-teal mobile:w-full mobile:mx-0 mobile:p-3 mobile:mt-2 mobile:border-b ";
---

<a class={`${className}`} href="/blog" target="">Blogs</a>
<a class={`${className}`} href="/projects" target="_blank">Projects</a>
<a class={`${className}`} href="/contact" target="_blank">Contact</a>
<a class={`${className}`} href="/about" target="_blank">About</a>
